<a 
class={`
bg-white/5 
border border-white/10 rounded-full
flex justify-center items-center gap-x-5
py-3 px-3  lg:py-4 lg:px-4
text-1xl lg-text-base
transition
 hover:bg-white/15 hover:border-white text-white my-3
 max-w-[750px] mx-auto text-xl 
`}

 {...Astro.props} target="_blank" rel="noopener noreferrer">
    <slot/>
</a>