---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="redes sociales" content={Astro.generator} />
		<meta name="description" content="Redes sociales disponibles de @anabelhumor">
		<meta name="google-site-verification" content="AXSFGfS7DSwgmsRt4Yd-jrsRjRUoOBpKPTCW-5CL9SU" />
		<link rel="shortcut icon" href="perfil.jpg" type="image/x-icon">
		<!-- OPEN GRAPH -->
		<meta property="og:title" content="Redes sociales | anabelhumor - Anabel Huanca Moreano">
		<meta property="og:image" content="/socialmedia.JPG">
		<meta property="og:image:alt" content="Una captura del sitio web de las redes sociales">

		<meta name="robots" content="index, follow">
		<link rel="cannonical" href="https://social-anabelhumor.vercel.app/">
		
		<title>{title}</title>
	</head>
	<body>
	<slot />
	</body>
</html>
<style is:global>
 	:root {
		color-scheme: light dark;
	}

	*{
		box-sizing: border-box;
	}
	html {
		font-family: system-ui, sans-serif;
		flex-direction: column;
		background: #090c1a;
		background: radial-gradient(circle, rgb(6, 58, 46) 0%, rgb(3, 41, 75) 100%);
  		font-family: 'Poppins', sans-serif;
}

	@media (prefers-reduce-motion: reduce) {
		html{
			scroll-behavior: auto;
		}
	}
</style>